#header .header-topbar {
    font-size: 1em;
    background-color: var(--gray36);
}

.header-topbar * {
    color: var(--white);
}

.header-topbar-content {
    background-color: var(--red2);
    text-align: center;
    height: 25px;
    line-height: 30px;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.open-menu {
    overflow: hidden;
}

#overlay {
    transition: all .5s ease-in-out;
    display: none;
}

.open-menu #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    z-index: 4;
    display: flex;
}

.open-menu #header .menu {
    right: 0px;
}

#header .menu {
    transition: left .5s ease-in-out;
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 3;
    justify-content: space-between;
}

#header #logo {
    height: 14.5em;
    width: 14.5em;
    margin-top: -1em;
    margin-left: 4em;
}

#header .menu ul .all-selectors {
    text-decoration: underline;
    text-decoration: red;
}

#divBusca {
    background-color: var(--white36);
    border: solid 2px var(--blue2);
    margin-left: 10em;
    margin-top: -1.2em;
    margin-bottom: 4em;
    border-radius: 10px;
    width: 186px;
    height: 30px;
}
   
#txtBusca {
    float: left;
    background-color: transparent;
    margin-bottom: 0em;
    margin-top: 0em;
    font-size: 18px;
    border: none;
    height: 1.5em;
}
   
#btnBusca {
    border: none;
    cursor: pointer;
    background: transparent;
    margin-top: 2.5em;
    width: 2em;
    height: 2em;
    border-radius: 0 7px 7px 0;
}

#header #btn-open {
    margin-top: -7.5em;
    margin-bottom: 1em;
    border: none;
    height: 3.2em;
    width: 3.6em;
}

#header #divBusca button {
    height: 2em;
    width: 2em;
}

#header #divBusca button#btnBusca img#search {
    position: absolute;
    transition: all 1s ease-in-out;
    right: calc(50vw - 60px);
    top: 15px;
    z-index: 5;
}

@media screen and (max-width: 812px) {
    .header-topbar {
        height: auto;
        line-height: 1.5;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .header-topbar .row {
        justify-content: center;
    }
}