.form .fields .complaint-subject input#subject:hover {
    text-decoration: var(--blue2);
    text-decoration: underline;
}

.form .fields .bg-gradient {
    background-color: var(--red);
    margin-top: -1em;
    height: 5px;
    width: 150px;
}
.form .fields .bg-gradient2 {
    background-color: var(--blue);
    margin-top: 1px;
    margin-bottom: 1em;
    height: 5px;
    width: 125px;
}

.form #banner {
    margin-bottom: 1em;
}
.form #banner .banner {
    height: 310px;
    width: 100%;
}

.form button#button {
    background-color: var(--white);
}