.form .fields .bg-gradient {
    background-color: var(--red);
    margin-top: -1em;
    height: 5px;
    width: 150px;
}

.form #banner {
    margin-bottom: 1em;
}
.form #banner .banner {
    height: 310px;
    width: 100%;
}

.form button#button {
    height: 2em;
    width: 6em;
    margin-top: 1em;
    margin-left: 10.5em;
    margin-bottom: 1.5em;
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    border: 3em var(--blue2);
    background-color: var(--blue);
    color: var(--white);
}

.form button#button:focus {
    border-color: var(--brown); 
}

.form button#button:active {
    border-color: var(--black);
}