:root{
    --white: #ffffff;
    --white36: rgb(248, 248, 248);
    --black: #000;
    --grayC: #CCC;
    --gray: rgb(178, 178, 178);
    --gray36: #363636;
    --red: rgb(255, 000, 000);
    --red2: #b51a20;
    --orange: rgb(221, 118, 0);
    --brown: rgb(179, 120, 54)
    --blue: rgb(7, 7, 31);
    --blue2: #5F9EA0;
}